<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- This is NOT displayed in the viewport -->
        <meta charset="utf-8">
        <title>Web Trader</title>
    </head>
    <body>
        <!-- This is displayed in the viewport -->
        <div>
            <p>{{ message }}</p>
        </div>
        <div>
            <form action="/" method="post">
                <!-- Lookup form-field -->
        <p>Sign up</p>
                <input name="username" placeholder="Username" type="text">
                <!-- Ticker form-field -->
                <input name="password" placeholder="Password" type="text">
                <p></p>
                <!-- Button -->
                <input type="submit" name="loggin" value="Sign-up">

            </form>
        </div>
        
    </body>
</html>
